{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-comment-log",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@/*": "./*"
        }
      }
    ]
  ],
  "ignore": ["node_modules"]
}
