@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스피너가 화면 중앙에 나타나도록 설정 */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 추가 */
    z-index: 9999; /* 다른 요소 위에 스피너를 나타나게 함 */
}

/* 스피너 애니메이션 */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* 테두리 두께 */
    border-left-color: #09f; /* 파란색 테두리 */
    border-radius: 50%;
    width: 64px; /* 스피너 크기 */
    height: 64px; /* 스피너 크기 */
    animation: spin 1s linear infinite; /* 스핀 애니메이션 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.yanolza-font {
    font-family: "yanolza", sans-serif;
}
.baemin-font {
    font-family: "baemin", sans-serif;
}
.yeogieottae-font {
    font-family: "yeogieottae", sans-serif;
}

@font-face {
    font-family: "yanolza";
    font-weight: 200;
    src: url("/fonts/yanolza.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "baemin";
    font-weight: 200;
    src: url("/fonts/baemin.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "yeogieottae";
    font-weight: 200;
    src: url("/fonts/yeogieottae.ttf") format("truetype");
    font-display: swap;
}