@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치 */
    }
    100% {
        opacity: 0;
        transform: translateY(-20px); /* 위로 살짝 올라감 */
    }
}

.toast-enter {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 등장 */
}

.toast-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.toast-exit {
    opacity: 1;
    transform: translateY(0);
}

.toast-exit-active {
    opacity: 0;
    transform: translateY(-20px); /* 위로 사라짐 */
    transition: opacity 0.5s, transform 0.5s;
}
  